#root {
    height: 100%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/*Sound board background*/
#board-background {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid yellow;
    background-color: lightgrey;
}
/*The sound buttons that play sound*/
.sound-controls {
    padding: 20px 10px;
    width: 50%;
    height: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
}
.sound-controls button {
    background-color: darkgray;
    border: none;
    box-shadow: 3px 3px 4px 1px;
}
.sound-controls button:hover {
    cursor: pointer;
}
.sound-controls button:active {
    background-color: gray;
    box-shadow: 1px 1px 2px 1px;
}
/*Display with volume and off/on*/
.display {
    background-color: darkgray;
    padding: 30px 10px;
}
/*Toggles and volume control*/
.other-controls {
    gap: 20px;
    padding: 20px 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Toggle Button Styling */
.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.cm-toggle:after {
	content: '';
	width: 50px;
	height: 25px;
	display: inline-block;
	background: black;
	clear: both;
}
.cm-toggle:before {
	content: '';
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	left: 2px;
	top: 2px;
	background: blue;
}
.cm-toggle:checked:before {
	left: 27px;
}
/* Soundbar styling */
.volume-bar {
    -webkit-appearance: none;
}
.volume-bar:focus {
    outline: none;
}
.volume-bar::-webkit-slider-runnable-track {
    background-color: rgb(51, 51, 51);
    height: 5px;
    box-shadow: 0px 3px 5px 1px;
}
.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    margin-top: -7px;
    width: 10px;
    background-color: blue;
    box-shadow: 1px 1px 1px 1px;
}